<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to restaurants_path, class: "text-reset mx-3" do %>
        <p class="navbar-brand">Yelp</p>
      <% end %>

      <%= link_to new_restaurant_path, class: "text-reset mx-3" do %>
        <p class="navbar-brand">Create new restaurant</p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
